@import "nib"
@import url("https://cdn.rawgit.com/wiseguy12851/OpenAssets/master/fonts/icomoon/style.css")
@import url(https://fonts.googleapis.com/css?family=Comfortaa);

debug-box(color = red)
    border 1px solid color
    
box-glow()
    box-shadow 0 0 arguments
    
text-glow()
    text-shadow 0 0 arguments
    
$flex-center
    display flex
    align-items center
    justify-content center

@keyframes spin
    from
        transform rotateY(0deg)
    to
        transform rotateY(360deg)
        
@keyframes swayVertically
    0%
        top 0
        
    50%
        top -50px
    
    100%
        top 0
       
*
    box-sizing border-box
    transition all .3s linear

html
body
    width 100%
    height 100%
    background-color darken(white, 95%)
    
.viewport
    @extend $flex-center
    flex-direction column
    width 100%
    height 100%
    text-align center
    
    .stack
        position relative
        font-size 200px
        color darken(lightblue, 40%)
        text-glow 15px darken(lightblue, 40%)
        width 200px
        height 200px
        border-radius 100%
        animation-name swayVertically
        animation-duration 5s
        animation-iteration-count infinite
        animation-timing-function ease-in-out
        //box-glow 15px darken(lightblue, 40%)
        
        > span
            display block
            position absolute
            width 100%
            height 100%
            top 0
            left 0
            line-height 200px
        
        > span.smaller
            font-size 100px
            
    .shadow
        width 10px
        //border-top 2px solid darken(lightblue, 40%)
        height 5px
        box-glow 10px 2px darken(lightblue, 40%)
        background-color alpha(darken(lightblue, 40%), 60%)
        margin-top 20px
        
    .text
        margin-bottom 60px
        font-size 50px
        color darken(lightblue, 40%)
        text-glow 10px
        font-family 'Comfortaa', cursive
        
.spin-forward
    animation-name spin
    animation-duration 5s
    animation-iteration-count infinite
    animation-timing-function ease-in-out

.spin-backwards
    @extend .spin-forward
    animation-duration 2s
    animation-direction reverse

#copyright
  margin-top 25px
  background-color transparent
  font-size 16px
  color darken(white, 30%)
  text-align center
  
  div
    margin-bottom 10px
  
  a
  a:link
    color gray
    text-decoration none
    border-bottom 1px solid gray
    padding-bottom 2px

  a:active
    color darken(white, 30%)
  
  a:hover
    color darken(white, 30%)
    border-bottom 1px solid darken(white, 30%)
    padding-bottom 4px
