<!DOCTYPE html>
<html>
    <head>       
         <link rel="stylesheet" href="/css/style.css">
                   <link rel="icon" href="/img/iconfinder_weather-few-clouds_118961 (3).png">

    
    </head>
        <body>
{{>header}}           
            <img src="https://wi-images.condecdn.net/image/doEYpG6Xd87/crop/405/f/weather.jpg" alt="weather"> 
            <p>created by Mensi Ghaith. it uses data from mapbox.com and darksky.net</p>
                       {{>footer}}

        </body>
    
</html>