<!DOCTYPE html>
<html>
    <head>       
         <link rel="stylesheet" href="/css/style.css">
                   <link rel="icon" href="/img/iconfinder_weather-few-clouds_118961 (3).png">

    
    </head>
        <body>
            {{>header}}
           <p>Help Page</p>
            {{>footer}} 
        </body>
    
</html>