
  <link rel="icon" href="/img/iconfinder_weather-few-clouds_118961 (3).png">

  <h1 class = 'text-center header'> Local Weather Application </h1>
  <nav class="dropdownmenu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About Me</a></li>
    
      
    <li><a href="/help">help</a></li>
    
  </ul>
</nav>

  <hr>
  
  
  
    
    
